-- Railway PostgreSQL init schema for OwnProfile Token Market
-- Run this once in your Railway PostgreSQL instance

-- Extensions
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- =============================
-- Users (Farcaster profiles)
-- =============================
CREATE TABLE IF NOT EXISTS users (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  fid bigint UNIQUE NOT NULL,
  wallet_address text,
  username text NOT NULL,
  display_name text,
  pfp_url text,
  bio text,
  is_verified boolean DEFAULT false,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Add notification fields to users table
ALTER TABLE users ADD COLUMN IF NOT EXISTS notification_token text;
ALTER TABLE users ADD COLUMN IF NOT EXISTS notification_url text;
ALTER TABLE users ADD COLUMN IF NOT EXISTS notifications_enabled boolean DEFAULT false;

-- =============================
-- Profile Tokens
-- =============================
CREATE TABLE IF NOT EXISTS profile_tokens (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  address text UNIQUE NOT NULL,
  name text NOT NULL,
  symbol text NOT NULL,
  description text,
  image_url text,
  creator_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  requester_fid bigint, -- FID user yang request deploy (untuk tracking/referral/XP)
  max_supply bigint NOT NULL DEFAULT 1000000,
  creator_fee_percentage decimal(5,2) NOT NULL DEFAULT 2.5,
  is_verified boolean DEFAULT false,
  is_active boolean DEFAULT true,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS profile_tokens_creator_idx ON profile_tokens(creator_id);
CREATE INDEX IF NOT EXISTS profile_tokens_address_idx ON profile_tokens(address);
CREATE INDEX IF NOT EXISTS profile_tokens_symbol_idx ON profile_tokens(symbol);

-- =============================
-- Token Market Data
-- =============================
CREATE TABLE IF NOT EXISTS token_market_data (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  token_id uuid NOT NULL REFERENCES profile_tokens(id) ON DELETE CASCADE,
  price_usd decimal(20,8) NOT NULL DEFAULT 0,
  market_cap_usd bigint NOT NULL DEFAULT 0,
  volume_24h_usd bigint NOT NULL DEFAULT 0,
  price_change_24h decimal(20,8) NOT NULL DEFAULT 0,
  price_change_percentage_24h decimal(10,4) NOT NULL DEFAULT 0,
  high_24h decimal(20,8) NOT NULL DEFAULT 0,
  low_24h decimal(20,8) NOT NULL DEFAULT 0,
  holders_count integer NOT NULL DEFAULT 0,
  last_updated timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS token_market_data_token_idx ON token_market_data(token_id);
CREATE INDEX IF NOT EXISTS token_market_data_updated_idx ON token_market_data(last_updated);

-- =============================
-- Token Transactions
-- =============================
CREATE TABLE IF NOT EXISTS token_transactions (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  token_id uuid NOT NULL REFERENCES profile_tokens(id) ON DELETE CASCADE,
  user_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  transaction_type text NOT NULL CHECK (transaction_type IN ('buy', 'sell')),
  amount decimal(20,8) NOT NULL,
  price_usd decimal(20,8) NOT NULL,
  total_value_usd decimal(20,8) NOT NULL,
  tx_hash text NOT NULL,
  block_number bigint,
  gas_used bigint,
  gas_price bigint,
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS token_transactions_token_idx ON token_transactions(token_id);
CREATE INDEX IF NOT EXISTS token_transactions_user_idx ON token_transactions(user_id);
CREATE INDEX IF NOT EXISTS token_transactions_type_idx ON token_transactions(transaction_type);
CREATE INDEX IF NOT EXISTS token_transactions_created_idx ON token_transactions(created_at);

-- =============================
-- Token Holders
-- =============================
CREATE TABLE IF NOT EXISTS token_holders (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  token_id uuid NOT NULL REFERENCES profile_tokens(id) ON DELETE CASCADE,
  user_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  balance decimal(20,8) NOT NULL DEFAULT 0,
  percentage decimal(10,6) NOT NULL DEFAULT 0,
  is_creator boolean DEFAULT false,
  first_acquired_at timestamptz,
  last_updated_at timestamptz DEFAULT now(),
  UNIQUE(token_id, user_id)
);

CREATE INDEX IF NOT EXISTS token_holders_token_idx ON token_holders(token_id);
CREATE INDEX IF NOT EXISTS token_holders_user_idx ON token_holders(user_id);
CREATE INDEX IF NOT EXISTS token_holders_balance_idx ON token_holders(balance DESC);

-- =============================
-- Creator Rewards
-- =============================
CREATE TABLE IF NOT EXISTS creator_rewards (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  token_id uuid NOT NULL REFERENCES profile_tokens(id) ON DELETE CASCADE,
  creator_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  total_fees_earned decimal(20,8) NOT NULL DEFAULT 0,
  fees_claimed decimal(20,8) NOT NULL DEFAULT 0,
  claimable_fees decimal(20,8) NOT NULL DEFAULT 0,
  last_claimed_at timestamptz,
  next_claim_available_at timestamptz,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS creator_rewards_token_idx ON creator_rewards(token_id);
CREATE INDEX IF NOT EXISTS creator_rewards_creator_idx ON creator_rewards(creator_id);

-- =============================
-- Notification Logs
-- =============================
CREATE TABLE IF NOT EXISTS notification_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  notification_type text NOT NULL,
  title text,
  message text,
  sent_at timestamptz DEFAULT now(),
  status text DEFAULT 'pending'
);

CREATE INDEX IF NOT EXISTS notification_logs_user_idx ON notification_logs(user_id);

-- =============================
-- KV store (generic key-value)
-- =============================
CREATE TABLE IF NOT EXISTS kv (
  key text PRIMARY KEY,
  value jsonb NOT NULL DEFAULT '{}'::jsonb,
  updated_at timestamptz NOT NULL DEFAULT now()
);

-- =============================
-- Files (binary storage if needed by /api/upload)
-- =============================
CREATE TABLE IF NOT EXISTS files (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  project_id text,
  filename text NOT NULL,
  mime_type text,
  data bytea NOT NULL,
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS files_project_idx ON files(project_id);
CREATE INDEX IF NOT EXISTS files_filename_idx ON files(filename);

-- =============================
-- Referral System
-- =============================
CREATE TABLE IF NOT EXISTS referral_codes (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  code text UNIQUE NOT NULL,
  created_at timestamptz DEFAULT now()
);

CREATE TABLE IF NOT EXISTS referral_uses (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  referrer_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  referred_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  referral_code text NOT NULL,
  used_at timestamptz DEFAULT now()
);

CREATE TABLE IF NOT EXISTS user_xp (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  xp integer NOT NULL DEFAULT 0,
  last_updated timestamptz DEFAULT now(),
  UNIQUE(user_id)
);

CREATE INDEX IF NOT EXISTS referral_codes_user_idx ON referral_codes(user_id);
CREATE INDEX IF NOT EXISTS referral_codes_code_idx ON referral_codes(code);
CREATE INDEX IF NOT EXISTS referral_uses_referrer_idx ON referral_uses(referrer_id);
CREATE INDEX IF NOT EXISTS referral_uses_referred_idx ON referral_uses(referred_id);
CREATE INDEX IF NOT EXISTS user_xp_user_idx ON user_xp(user_id);
CREATE INDEX IF NOT EXISTS user_xp_xp_idx ON user_xp(xp DESC);

-- =============================
-- Show created tables
-- =============================
SELECT 'Schema created successfully!' as status;
SELECT table_name FROM information_schema.tables WHERE table_schema = 'public' ORDER BY table_name;